{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages Array(Page(id, titre, slug, texte, dateCreation))
#}





  {% for tag in tags %}

    <li       >

      <a  href="{{ path('app_tags_show', {
                      'id': tag.id,
                      'slug': tag.slug
                }) }}" >
        {{ attribute(tag,'nom' ~ app.request.locale) }}
      </a>

    </li>



  {% endfor %}
