

        <div class="section">
	    	<div class="container">
				<div class="row">
                    {% for post in posts %}
					<!-- Blog Post Excerpt -->
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>	{{  attribute(post, 'titre' ~ app.request.locale)  }}</h2>
							</div>

							<div class="single-post-image">
								<img src="{{asset('dist/img/blog/'~post.image)}}" alt="Post Title">
							</div>

							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>{{post.datecreation| date('d F, Y')}} <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
							</div>

							<div class="single-post-content">
								<p>
				{{  attribute(post, 'texte' ~ app.request.locale)  }}
								</p>
							<a href="{{ path('app_posts_show', {
                              'id': post.id,
                              'slug': post.slug
                        }) }}" class="btn">Read more</a>
							</div>
						</div>
					</div>
					<!-- End Blog Post Excerpt -->
        {% endfor  %}



					<!-- End Blog Post Excerpt -->


                <!-- Pagination -->
                <div class="pagination-wrapper ">
                  <ul class="pagination pagination-sm">
                    <li class="disabled"><a href="#">Previous</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>

				</div>
			</div>
	    </div>
