
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BASICA! A Free Bootstrap3 HTML5 CSS3 Template by Vactual Art</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{asset('dist/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{{asset('dist/css/main.css')}}">
    <link href="{{asset('dist/css/custom.css')}}" rel="stylesheet">

    	<script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{asset('dist/css/icomoon-social.css')}}">
	<link rel="stylesheet" href="{{asset('dist/css/font-awesome.min.css')}}">

	<script src="{{asset('dist/js/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>


</head>
