<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="{{asset('dist/img/logo.png')}}" alt="Basica"></a>
    </div>
    <div class="collapse navbar-collapse">
     {{ render(controller('App\\Controller\\PagesController::indexAction')) }}

    </div>
    <div class="float-right">
      <a href="{{path('app_homepage', {_locale: 'fr'})}}" class="active">FR</a> | <a href="{{path('app_homepage', {_locale: 'en'})}}">EN</a>
    </div>
</div>
