
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{asset('dist/js/jquery-1.9.1.min.js')}}"></script>')</script>
        <script src="{{asset('dist/js/bootstrap.min.js')}}"></script>

		<!-- Scrolling Nav JavaScript -->
		<script src="{{asset('dist/js/jquery.easing.min.js')}}"></script>
		<script src="{{asset('dist/js/scrolling-nav.js')}}"></script>

		<!-- Portfolio Thumbnail Hover Effect JavaScript -->
		<script type="text/javascript" src="{{asset('dist/js/jquery.hoverdir.js')}}"></script>

		</script>
