{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titre, slug, texte, dateCreation)

#}

{% extends 'base.html.twig' %}

  {% block title %}
    {{  attribute(page, 'titre' ~ app.request.locale)  }}
  {% endblock %}


{% block slider %}
{% if page.id == 1 %}
{{ render(controller('App\\Controller\\WorksController::sliderAction', {
              vue: 'slider',
})) }}

{% elseif page.id == 4 %}
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>   {{  attribute(page, 'titre' ~ app.request.locale)  }}</h1>
      </div>
    </div>
  </div>
</div>
      {% include 'partials/contact.html.twig'  %}






{% else %}
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>   {{  attribute(page, 'titre' ~ app.request.locale)  }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block content1 %}







   {# CONTENUS COMPLEMENTAIRES #}

   {% if page.id == 1 %}
   <div class="section-title">
   <h1>{{ attribute(page, 'titre' ~ app.request.locale) }}</h1>
   </div>
   {{ render(controller('App\\Controller\\WorksController::indexAction', {
                 vue: 'liste',
                 limit: 6

   })) }}

   {{ render(controller('App\\Controller\\PostsController::indexAction', {
                 vue: 'index',
                 limit: 3

   })) }}


   {% elseif page.id == 2 %}
   {{ render(controller('App\\Controller\\WorksController::indexAction', {
                 vue: 'index',
                 limit: 6

   })) }}

      {% elseif page.id == 3 %}
      {{ render(controller('App\\Controller\\PostsController::indexAction', {
                    vue: 'blog',
                    limit: 4

      })) }}





   {% endif %}

{% endblock %}
