{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titre, slug, texte, dateCreation)

#}

{% extends 'base.html.twig' %}

  {% block title %}
    {{  attribute(categorie, 'nom' ~ app.request.locale)  }}
  {% endblock %}


{% block content1 %}
  <h1>  {{  attribute(categorie, 'nom' ~ app.request.locale)  }}</h1>
  {% include 'posts/index.html.twig' with {posts: categorie.posts} %}
{% endblock %}
