



        <section id="main-slider" class="no-margin">
            <div class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider" data-slide-to="1"></li>
                    <li data-target="#main-slider" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                  {% for work in works %}
                <div  class="{% if work.id == 1 %} item active {% else %} item  {% endif %} " style="background-image: url({{asset('dist/img/portfolio/'~work.image)}})">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-content centered">
                                        <h2 class="animation animated-item-1">{{ attribute(work, 'titre' ~ app.request.locale) }}</h2>
                                        <p class="animation animated-item-2">{{ attribute(work, 'texte' ~ app.request.locale) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--/.item-->
                  {% endfor %}

                    </div><!--/.item-->
                </div><!--/.carousel-inner-->
            </div><!--/.carousel-->
            <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
                <i class="icon-angle-left"></i>
            </a>
            <a class="next hidden-xs" href="#main-slider" data-slide="next">
                <i class="icon-angle-right"></i>
            </a>
        </section><!--/#main-slider-->
